*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: rgb(186, 245, 186);
}
form{
    display:flex;
    flex-direction: column;
    background-color: greenyellow;
    padding: 30px;
    align-items: center;
}
form input{
    width: 100%;
    padding: 5px 5px;
    margin-top: 10px;
}
#submit{
    display: block;
    background-color: rgb(34, 34, 194);
    color: white;
    cursor: pointer;
}
.redcolor{
    border: 2px solid red;
}
.green{
    border: 2px solid green;
}